<!-- Footer Start -->
<footer class="footer">
    <div class="page-container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                <script>document.write(new Date().getFullYear())</script>
                © Grey_InfoTech
            </div>
            <div class="col-md-6">
                <div class="text-md-end footer-links d-none d-md-block">
                    <a href="/company">About</a>
                    <a href="/support">Support</a>
                    <a href="/contact">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->