<meta charset="utf-8" />
<title><%-title %> | Grey_InfoTech</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Grey_InfoTech backend dashboard" name="description" />
<meta content="Grey_InfoTech" name="author" />

<!-- App favicon -->
<link rel="shortcut icon" href="/images/favicon.ico">